# Logs
logs
*.log
npm-debug.log*
.yarn
yarn-debug.log*
yarn-error.log*
yarn.lock
pnpm-debug.log*
lerna-debug.log*
package-lock.json
vite.config.timestamp*.*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.VSCodeCounter

# Microsoft Office temporary file
~$*.*

.vitepress/cache/
.vitepress/dist/
.vitepress/.temp/