@font-face {
  font-family: "my"; /* Project id 3862358 */
  src: url('iconfont.woff?t=1673581178848') format('woff');
}

.my {
  font-family: "my" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-calendar:before {
  content: "\e656";
}

.my-medal:before {
  content: "\e620";
}

